@charset "UTF-8";

header {
  display: flex;
  justify-content: space-between;
}

header img {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {

  /* headerはそのまま横 */
  header {
    flex-direction: row;
    align-items: center;
  }
}

/* ハンバーガ―メニューの見た目部分の設定 */
.hamburger-menu {
  display: block;
  width: 80px;
  height: 80px;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  transition: 0.4s;
  padding-top: 10px;
  position: relative;
}
.hamburger-menu:hover {
  opacity: 0.5;
}
/* ハンバーガーメニューの線の設定（初期の三本線の状態） */
.hamburger-menu span {
  width: 50px;
  height: 3px;
  background: black;
  position: absolute;
  left: 15px;
  transition: 0.4s ease-in-out;
}
/* 1本目の線の位置 */
.hamburger-menu span:nth-child(1) {
  top: 24px;
}
/* 2本目の線の位置 */
.hamburger-menu span:nth-child(2) {
  top: 40px;
}
/* 3本目の線の位置 */
.hamburger-menu span:nth-child(3) {
  top: 56px;
}

/* ハンバーガーメニューのナビゲーションの設定 */
#hamburger-navigation {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;

  display: flex;
}

.hamburger-black {
  width: 300px;
  background: #000;
  padding: 120px 40px 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#hamburger-navigation .menu-sections {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap:40px
}

#hamburger-navigation .menu-sections ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
}

#hamburger-navigation .menu-sections li {
  border-bottom: 1px solid #fff;
  padding: 25px 0;
}

#hamburger-navigation .menu-sections a {
  color: #fff;
  font-size: 32px;
}

#hamburger-navigation .hamburger-sns {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*-------------------------------------------
hamburger-menuクラスにactiveクラスが付与されたら、三→×に変化するようにする
-------------------------------------------*/
/* 1本目の線を-45度回転 */
.hamburger-menu.active span:nth-child(1) {
  top: 40px;
  left: 15px;
  background: #fff;
  transform: rotate(-45deg);
}
/* 2本目と3本目は重ねて45度回転 */
.hamburger-menu.active span:nth-child(2),
.hamburger-menu.active span:nth-child(3) {
  top: 40px;
  background: #fff;
  transform: rotate(45deg);
}

/*-------------------------------------------
hamburger-navigationIDにactiveクラスが付与されたら、
ナビゲーションメニューを表示させる。
-------------------------------------------*/
/*　opacityを0→1にすることで、ナビゲーションメニューを非表示→表示というふうに実装する　*/
#hamburger-navigation.active {
  opacity: 1;
  visibility: visible;
}



/* video */
#video img{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: block;
  margin-bottom: 60px;
}

/* pickup */
#pick-up h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 28px;
}

.pick-img {
  display: flex;
  overflow-x: auto;
  gap: 20px;             
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.pick-img img {
  width: 450px;
  flex-shrink: 0; 
  scroll-snap-align: start;
}

@media screen and (max-width: 768px) {

  .pick-img img {
    width: 280px;
  }
}


/* -feature- */

#feature {
  background: #fff;
  padding: 100px 0;
}

#feature h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 28px;
}

/* グリッド */
.feature-list {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* カード */
.feature-item {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.feature-item:hover {
  transform: translateY(-5px);
}

/* 画像 */
.feature-item img {
  width: 100%;
  display: block;
}

/* 中身 */
.feature-content {
  padding: 20px;
}

.category {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  margin-bottom: 15px;
}

.date {
  font-size: 12px;
  text-align: right;
  color: #888;
}

@media screen and (max-width: 768px) {

  .feature-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .feature-content {
    padding: 15px;
  }

  #feature {
    padding: 60px 0;
  }
}

/* コンタクト */

#contact {
  background-color: black;
  padding-top: 60px;
}

#contact h2 {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-bottom: 60px;
}

#contact p {
  color: white;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-left {
  flex: 1;
}

.contact-left p {
  margin-bottom: 30px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px 15px;
  background: #fff;
  border: none;
  box-sizing: border-box;
  font-size: 14px;

  margin-bottom: 10px;
}

.contact-form button {
  width: 160px;
  padding: 12px;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #fff;
  color: #000;
}

footer p{
  color: #fff;
  text-align: center;
  padding: 60px 0 0;
}

@media screen and (max-width: 768px) {

  /* contactは縦 */
  .contact-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  #contact {
    padding: 50px 20px 0;
  }

.contact-form button {
  width: 100%;
}

  footer p {
    margin-top: 30px;
  }
}